body {
    margin: 2em;
    background-color: #1c2023;
    color: #ADB3BA;
    font-family: 'Fira Sans Condensed', sans-serif;
}
hr {
    background-color: #000;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h1, h2 {
    color: #C7CCD1;
    font-family: 'Merriweather', serif;
}

a:link, a:visited {
    color:#C795AE;
    text-decoration: none;
}
a:hover, a:focus {
    color:#C79595;
    text-decoration-line: overline underline;
    /* text-decoration-color: #EA215A; */
    text-decoration-style: solid;
    text-decoration-thickness: .125em;
}
a:active { color:#C79595; }

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}
ul li {
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    padding: 5px 50px;
}
@media screen and (min-width: 800px) {
    nav {
        height: 100px;
        flex-direction: row;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
    }
    ul li {
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
    }
}

/* ---------------------------------------------------------
Print styles
---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
